{
  @import url('https //fonts.googleapis.com/css family=poppins')
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
font-family: Times New Roman;
}
header{
  color: white;
  text-align: center;
  position: absolute;
  top: 1%;
  width: 100%;
  margin-top:0;
  font-family: Verdana;
  font-weight: 900;
}
.par{
  text-align: center;
  font-family: Verdana;
  font-size: 12px;
}


body{
    background-color:green;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
  
    width: 300px;  /* Adjusted for a rectangular shape */
    height: 415px; /* Set a fixed height for the rectangle */
    position: relative;
    perspective: 1000px; /* Enables 3D perspective for the flip effect */
   margin-top: 305px;
}

.form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back face during the flip */
    transition: transform 0.6s ease;
margin-bottom: 100px;
   
}

.login-container {
    background: lightgreen;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container {
    background: lightgreen;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotateY(180deg); /* Rotates the registration form */
}

.form-container.active {
    transform: rotateY(0deg); /* Normal position */
    position: justify-content;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group input {
    width: 89%;
    padding: 10px;
    padding-left: 10px; /* Extra space for icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    position: justify-content;
    margin: 12px; 
}

.input-group .icon {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: #888;
}

button {
    width: 30%;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    align-content: center;
    margin: 12px;
    font-family: Verdana;
}

button:hover {
    background-color: orange;
}

label {
    display: block;
    margin: 10px 0;
    margin: 12px;
   position: justify-content;
   font-family: Tahoma;
}

span {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: Verdana;
}

span a {
    color: orange;
    text-decoration: none;
    font-family: cursive;
    font-size: 19px;
}
h2{
  text-align: center;
  font-family:cursive;
  color: orange;
  font-size: 40px;
}